// Mouse movement settings
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/ext_power.h>

// Define layers to match QMK
#define BASE 0  // Base layer
#define NAVLYR 1    // Layer 1
#define MOUSELYR 2    // Layer 2
#define NUMLYR 3    // Layer 4
#define SYMLYR 4    // Layer 5
#define SYSLYR 5    // Layer 5

&led_strip {
    chain-length = <27>;
};

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <155>; // leave at 190
};

&lt {
    flavor = "tap-preferred";
    tapping_term_ms = <155>; // leave at 190
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &none &kp Q       &kp W       &kp F       &kp P       &kp B            &kp J    &kp L       &kp U       &kp Y      &kp SQT     &none
                &none &mt LGUI A  &mt LALT R  &mt LCTRL S &mt LSHFT T &kp G            &kp M    &mt LSHFT N &mt LCTRL E &mt LALT I &mt LGUI O  &none
                &none &kp Z       &mt RALT X  &kp C       &kp D       &kp V            &kp K    &kp H       &kp COMMA   &mt RALT DOT &kp FSLH  &none
                                       &kp ESC &lt NAVLYR SPACE &lt MOUSELYR TAB            &lt NUMLYR ESC  &lt SYMLYR RET &lt SYSLYR BSPC
            >;
        };

        navigation_layer {
            display-name = "Navigation";
            bindings = <
                &none &none      &none     &none       &none       &none            &none     &kp PG_UP     &kp UP   &kp PG_DN     &none      &none
                &none &trans      &trans     &trans &trans   &none            &kp CAPS  &kp LEFT  &kp DOWN  &kp RIGHT &none      &none
                &none &none      &none     &none       &none       &none            &kp INS   &kp HOME  &none     &kp END   &none      &none
                                        &trans      &none       &none            &kp DEL     &kp RET   &kp BSPC
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
                &none &none     &none     &none     &none      &none            &none       &kp PG_UP  &mmv MOVE_UP   &kp PG_DN    &none       &none
                &none &trans     &trans     &trans     &trans  &none            &none       &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none
                &none &none     &none     &none     &none      &none            &none       &msc SCRL_UP &none &msc SCRL_DOWN &none      &none
                                        &none     &trans     &none            &none       &mkp LCLK   &mkp RCLK
            >;
        };

        number_layer {
            display-name = "Numbers";
            bindings = <
                &none &kp LBKT  &kp N7    &kp N8    &kp N9    &kp RBKT            &none    &none    &none    &none    &none    &none
                &none &kp SEMI  &kp N4    &kp N5    &kp N6    &kp EQUAL           &none    &none    &none    &none    &none    &none
                &none &kp GRAVE &kp N1    &kp N2    &kp N3    &kp BSLH            &none    &none    &none    &none    &none    &none
                                        &kp N0    &kp MINUS &none               &none    &none    &trans
            >;
        };

        symbol_layer {
            display-name = "Symbols";
            bindings = <
                &none &kp GRAVE &kp EXCL &kp UNDER &kp SEMI  &kp PIPE           &kp APOS &kp LBRC &kp RBRC &kp LBKT  &kp RBKT &none
                &none &kp TILDE &kp HASH &kp MINUS &kp COLON &kp DLLR           &kp AT   &kp LPAR &kp RPAR &kp CARET &kp AMPS &none
                &none &kp PRCNT &kp QMARK &kp ASTRK &kp PLUS &kp BSLH           &kp FSLH &kp none &kp LT   &kp GT    &kp DQT  &none
                                        &none     &none     &none              &none     &trans    &none
            >;
        };

        system_layer {
            display-name = "System";
            bindings = <
                &none &bootloader &none        &none             &studio_unlock   &none               &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none &none
                &none &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP      &kp C_BRI_DN     &kp C_BRI_UP        &none &none &none &none &none &none
                &none &none       &none        &ext_power EP_OFF &ext_power EP_ON &none               &none &rgb_ug RGB_ON &rgb_ug RGB_OFF &none &none &none
                          &none  &none                    &none        &none &none &none
            >;
        };
    };
};
